html {
    background-color: rgb(72, 153, 242);
    /* 높이: 100%; */
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
canvas {
    background-color: rgb(180, 180, 180);
    margin: 50px;
    width: 600px;
    height: 800px;
}
.button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
    /* 버튼 위치 조정 */
    position: absolute;
    bottom: 20px; /* 아래에서 20px 떨어진 위치 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translateX(-50%); /* 수평 가운데 정렬 */
}
.button:hover {
    background-color: red;
}